---
layout: default
---
{%- include_relative _variables.html %}
<div class="row">
    <div class="columns medium-3" id="leftnav">
        <h2>{{poet_firstname}} {{poet_lastname}}</h2>
        {% if poet_image != '' %}
            <img src="{{poet_image}}" alt="{{poet_firstname}} {{poet_lastname}}" />
        {% endif %}
        <ul>
            <li><a href="index.html">Biography</a></li>
            {% if bibliography %}
            <li><a href="bibliography.html">Bibliography</a></li>
            {% endif %}
            {% if commentary %}
            <li><a href="commentary.html">Critical Commentary</a></li>
            {% endif %}
            {% if readings %}
            <li><a href="readings.html">Readings/Workshop Availability</a></li>
            {% endif %}
            {% if extralinks %}
            {%- include_relative _leftnav.html %}
            {% endif %}
        </ul>
        
    </div>
    <div class="columns medium-9 content">
        <ul class="menu">
            <li><strong>Poems:</strong></li>
            {%- include_relative _poems.html %}
        </ul>
        <h1>{{page.title}}</h1>

        {{ content }}
        
        {% if page.removeMargin %}
        <style type="text/css">.content p{margin:0;padding:0;line-height:1.2em}</style>
        {% endif %}

    </div>
</div>